apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-waf
  namespace: waf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-waf
  template:
    metadata:
      labels:
        app: nginx-waf
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80
